@font-face {
	font-family: 'Museo Sans Cyrl 500';
	src: url('./../fonts/MuseoSans/MuseoSansCyrl-500.eot');
	src: local('MuseoSansCyrl-500'),
		url('./../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff'),
		url('./../fonts/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 300';
	src: url('./../fonts/MuseoSans/MuseoSansCyrl-300.eot');
	src: local('MuseoSansCyrl-300'),
		url('./../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/MuseoSans/MuseoSansCyrl-300.woff') format('woff'),
		url('./../fonts/MuseoSans/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl 100';
	src: url('./../fonts/MuseoSans/MuseoSansCyrl-100.eot');
	src: local('MuseoSansCyrl-100'),
		url('./../fonts/MuseoSans/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/MuseoSans/MuseoSansCyrl-100.woff') format('woff'),
		url('./../fonts/MuseoSans/MuseoSansCyrl-100.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}