//  Table of Contents:
//
//   1. Global
//   2. Grid breakpoints
//   3. Base Typography
//   4. Typography Helpers
//   5. Abide
//   6. Accordion
//   7. Accordion Menu
//   8. ... 
// 1. Global
// ---------


/*!
 * Primary color settings
 */

$blue-light: #40B4DC;
$blue-dark: #0c202f;
$red: #E80029;
$black: #000;
$white: #fff;
$grey-x-light:#f1f1f1;
$grey-light:#d2d2d2;
$grey-medium:#8c8c8c;
$grey:#5a5a5a;
$grey-dark:#5a5a5a;
$grey-form:#C8C8C8;
$text-color: #2B292D;
$theme-color: #D30C1C;

$museo500: 'Museo Sans Cyrl 500', sans-serif;
$museo300: 'Museo Sans Cyrl 300', sans-serif;
$museo100: 'Museo Sans Cyrl 100', sans-serif;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: ( xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1140px) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

@import "fonts";

body {
	font-family: $museo500;
	font-weight: normal;
	font-style: normal;
    overflow-x: hidden;
    color: $text-color;
}

ul,ol {
	margin: 0px;
	padding: 0px;
    list-style-type: none;
}
.main-btn {
    display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	@include user-select(none);
    padding: 14px 6px;
    font-family: $museo300;
	font-size: 16px;
	line-height: 13px;
    color: $white;
    border: 2px solid $theme-color;
    border-radius: 3px;
    cursor: pointer;
    z-index: 5;
    @include transition(0.4s);
    background-color: $theme-color;
    width: 246px;
    height: 48px;
    
    &:hover{
    	background-color: $white;
        color: $theme-color;
        text-decoration: none;
    }
    
}


