.content {

    margin-bottom: 6rem;

    & .text {
        font-family: $museo300;
        color: $text-color;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    & .examples-area {
        background: $white;
        display: flex;
        flex-direction: column;

         %example_item{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-content: center;
            margin-top: 4rem;
            min-height: 370px;
            background-repeat: no-repeat;
            background-position: bottom;

            @include media-breakpoint-down(lg){
                justify-content: space-around;
            }

            & span {
                text-transform: uppercase;
                font-size: 13px;
                color: #999999;
            }
        
            & h3 {
                font-family: $museo300;
                font-size: 36px;
                line-height: 48px;
            }
        
            & .info {
                width: 340px;
                @include media-breakpoint-down(lg){
                    width: 100%;
                }
            }
        
        
            & figure{
                display: block;
                width: 336px;
                height:340px;
                
        
                & span{
                    display: block;
                    text-align: center;
                    height: 30px;
                    font-family: $museo300;

                }
            }
            & figure.before>span{
                color: $text-color;
            }
            & figure.after>span{
                color: $theme-color;
            }

            & .item-content{
                width: 336px;
                height: 280px;
                text-align: center;
                background: $grey-form;
                background-size: cover;
                border-radius: 6px;

            }
        }
/********= EXAMPLE-ITEM-LEFT =***********/

        & .example_item-left {
            @extend %example_item;
            flex-direction: row;
            background-image: url('../img/dotline.png');
        }
/********= EXAMPLE-ITEM-RIGHT =***********/

        & .example_item-right{
            @extend %example_item;
                flex-direction: row-reverse;
                background-image: url('../img/dotline2.png');

                & span {
                    display: block;
                    text-align: right;
                    @include media-breakpoint-down(lg){
                        text-align: left;
                    }
                }

                & h3 {
                    text-align: right;
                    @include media-breakpoint-down(lg){
                        text-align: left;
                    }
                }
            }     
        }

}




