
  footer {
    background-color: $grey-x-light;
    color: $grey;
    line-height: 1.5;
    display: flex;
    flex-direction: column;

    & .footer_item{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: center;
        min-height: 370px;
        background-repeat: no-repeat;
        background-position: bottom;

        @include media-breakpoint-down(lg){
            justify-content: space-around;
        }
        & .logo, .social, .links{
          min-width: 330px;
          @include media-breakpoint-down(md){
            width: 75%;
            margin-top: 2rem;
        }
        }
        &>.links>ul.adress>li{
          padding-top: 0.5rem;
        }
        &>.social>ul.social-links, ul.messenger-links  { 
          display: flex;
          margin-bottom: 1.5rem;
          justify-content: space-between;
          & li {
            display: inline-flex;
            justify-self: center;
          }
      
          & ul>li>a>img {
            width: 42px;
            height: 42px;
          }
        }
      }
      a {
        font-family: $museo500;
        font-size: 16px;
        color: #969697;
        position: relative;
        @include transition(0.3s);
        margin: 0;
        padding-top: 14px;
      
        &:hover {
          opacity: 0.5;
        }
      }
      & .ft-title {
        color: $black;
        font-size: 1.5rem;
        font-family: $museo300;
        padding-bottom: 0.625rem;
      }
      & p {
        margin-top: 1.5rem;
      }
    }
  
 
  

 
  
  
  .ft-main-item {
    padding: 1.25rem;
    //min-width: 12.5rem;
  

  

  
    .icons {
      display: flex;
      justify-content: space-between;
  
      @include media-breakpoint-down(sm){
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
      }
    }
  


  }
  
  /* Footer social */
  .ft-arr {

    & .ft-arr-list {
      display: flex;
      justify-content: start;
      text-justify: initial;
      border-top: 1px $black solid;
      padding-top: 1.25rem;
      color: $black;
      opacity: 0.5;
    }

  }
  
  