.hero-area {
    height: 834px;
    width: 100%;
	display: flex;
    overflow: hidden;    
    

	&::before {
		position: absolute;
		content: '';
		height: 834px;
		width: 100%;
		top: 0;
        left: 0;

        background: url('../img/hero_bg.jpg');
        background-size: cover;
        background-position: right;
	}

	& .hero-content {
        position: absolute;
        display: block;
        top: 210px;
        width: 35rem;
		&>p {
            font-family: $museo300;
			font-size: 22px;
			color: $text-color;
		}

		& .title {
			padding-bottom: 64px;

		}

		& a.btn-2 {
			margin-top: 80px;
        }
        @include media-breakpoint-between(md, lg){
        width: 28rem;
		&>p {
            font-family: $museo300;
			font-size: 18px;
			color: $text-color;
		}

		& .title {
			padding-bottom: 48px;

		}

		& a.btn-2 {
			margin-top: 60px;
        }

        }
        @include media-breakpoint-down(sm){
            width: 93%;
            &>p {
                font-family: $museo300;
                font-size: 18px;
                color: $text-color;
            }
    
            & .title {
                padding-bottom: 48px;
    
            }
    
            & a.btn-2 {
                margin-top: 60px;
                width: 100%;
            }
    
            }


	}

	& .hero-phone {
        position: absolute;
        left: 60%;
        top: 30%;
        z-index: 1;
        
        & img{
            width: 200px;
            height: 410px;
        }

        @include media-breakpoint-between(sm, md){
            left: 75%;
    
            }
        @include media-breakpoint-down(sm){
            display: none;
        }
	}

	& .hero-mac {
        position: absolute;
        left: 60%;
        top: 25%;
        z-index: 1;

        @include media-breakpoint-down(md){
            display: none;
        }
        
        & img{
            width: 702px;
            height: 400px;
        }

	}

}



