.header-nav {
	-webkit-box-shadow: 0 0 18px 1px rgba(0, 0, 0, .1);
	box-shadow: 0 0 18px 1px rgba(0, 0, 0, .1);

	& .navigation {
		position: absolute;
		right: 0;
		left: 0;
		top: 40px;
		padding-bottom: 0.5rem;
		padding-top: 0.5rem;
		z-index: 99;
        @include media-breakpoint-down(sm){
            padding-left: 1rem;
			padding-right: 1rem;
        }


		&.sticky {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			background: $white;
			box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.04);
			z-index: 999;
			animation: sticky .4s;

			& .navbar {
                & .navbar-brand {
                    & svg {
                        display: block;
                        width: 50%;
                        height: 50%;
                    }
                }

				& .navbar-nav {
					& .nav-item {
						& a {
							line-height: 80px;
						}
					}
				}
			}
		}

		& .navbar {
			position: relative;
			padding: 0;
            height: 48px;

            & .navbar-brand {
                & svg {
                    display: block;
                    width: 80%;
                    height: 80%;
                }
            }
            


			& .navbar-toggler {
				border-color: transparent;

				& .toggler-icon {
					width: 30px;
					height: 3px;
					background-color: $theme-color;
					margin: 5px 0;
					display: block;
					position: relative;
					@include transition(0.3s);
				}

				&.active {
					& .toggler-icon {
						&:nth-of-type(1) {
							@include transform(rotate(45deg));
							top: 8px;
						}

						&:nth-of-type(2) {
							opacity: 0;
						}

						&:nth-of-type(3) {
							@include transform(rotate(135deg));
							top: -8px;
						}
					}
                }
                &:focus{
                    outline: none;
                }
			}

			& .navbar-collapse {


                position: absolute;
                right: 0;

                @include media-breakpoint-down(md) {
                    position: absolute;
                    top: 60px;
                    width: 80px;
                    background-color: $white;
                    z-index: 8;
                    padding: 20px 10px 20px 10px;
                    box-shadow: 0 26px 48px 0 rgba(0, 0, 0, .15);
                }

/*                 @include media-breakpoint-down(md){
                    position: absolute;
					top: 120%;
					left: 0;
					width: 100%;
					background-color: $white;
					z-index: 8;
					padding: 10px 16px;
					box-shadow: 0 26px 48px 0 rgba(0, 0, 0, .15);
                } */

                &>a.lang, a.login {
                    display: block;
                    &:hover, :active{
                        color: $white;
                        background: $theme-color;
                    }
                }


			}

			& .navbar-nav {

                @include media-breakpoint-down(md){
                    margin-right: 0;
                }

				& .nav-item {
					position: relative;

					@include media-breakpoint-up(lg){
						margin-right: 18px;
					}

					& a {
						font-family: $museo500;
						font-size: 16px;
						font-weight: 700;
						line-height: 80px;
						padding: 0 16px;
						color: $black;
						position: relative;
						@include transition(0.3s);
						margin: 0;

						@include media-breakpoint-up(lg) {
							font-size: 15px;
							padding: 0 5px;
						}

						@include media-breakpoint-up(md){
							padding: 0;
							display: block;
							border: 0;
							margin: 0;
						}

						@include media-breakpoint-down(md){
							padding: 0;
							display: block;
							border: 0;
							margin: 0;

                        }


						& span {
							padding-left: 5px;
                            font-size: 15px;
                            
                            @include media-breakpoint-down(md){
                                display: none;
    
                            }
						}

						&:hover {
							opacity: 0.5;
						}
					}

				}
			}

		}
	}
}


.rotateY{
    -webkit-animation:logo 5s infinite;
    animation: logo 5s infinite;
    -webkit-transform-origin: 65px 65px;
    -ms-transform-origin: 65px 65px;
    transform-origin: 65px 65px;
}




@-webkit-keyframes sticky {
	0% {
		top: -200px;
	}

	100% {
		top: 0;
	}
}

@keyframes sticky {
	0% {
		top: -200px;
	}

	100% {
		top: 0;
	}
}

@-webkit-keyframes logo{
    0% {
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
    }

@keyframes logo{
0% {
    transform: rotateY(0deg);
}
100%{
    transform: rotateY(360deg);
}
}
