<div class="dotWrapper dotWrapper-1">
    <div class="dot dot-1">
      <object data="{{root}}assets/img/prim/Oval1.svg" type="image/svg+xml"></object>
    </div>
  </div>
  <div class="dotWrapper dotWrapper-2">
    <div class="dot dot-2">
      <object data="{{root}}assets/img/prim/Triangle1.svg" type="image/svg+xml"></object>
    </div>
  </div>
  <div class="dotWrapper dotWrapper-3">
    <div class="dot dot-3">
      <object data="{{root}}assets/img/prim/Rectangle1.svg" type="image/svg+xml"></object>
    </div>
  </div>
  <div class="dotWrapper dotWrapper-4">
    <div class="dot dot-4">
      <object data="{{root}}assets/img/prim/Triangle2.svg" type="image/svg+xml"></object>
    </div>
  </div>
  <div class="dotWrapper dotWrapper-5">
    <div class="dot dot-5">
      <object data="{{root}}assets/img/prim/Oval2.svg" type="image/svg+xml"></object>
    </div>
  </div>
  <div class="dotWrapper dotWrapper-6">
    <div class="dot dot-6">
      <object data="{{root}}assets/img/prim/Rectangle2.svg" type="image/svg+xml"></object>
    </div>
  </div>
  <div class="dotWrapper dotWrapper-7">
    <div class="dot dot-7">
      <object data="{{root}}assets/img/prim/Triangle3.svg" type="image/svg+xml"></object>
    </div>
  </div>
  <div class="dotWrapper dotWrapper-8">
    <div class="dot dot-8">
      <object data="{{root}}assets/img/prim/Oval1.svg" type="image/svg+xml"></object>
    </div>
  </div>
  <div class="dotWrapper dotWrapper-9">
    <div class="dot dot-9">
      <object data="{{root}}assets/img/prim/Rectangle3.svg" type="image/svg+xml"></object>
    </div>
  </div>
  <div class="dotWrapper dotWrapper-10">
    <div class="dot dot-10">
      <object data="{{root}}assets/img/prim/Triangle3.svg" type="image/svg+xml"></object>
    </div>
  </div>
  <div class="dotWrapper dotWrapper-11">
    <div class="dot dot-11">
      <object data="{{root}}assets/img/prim/Oval2.svg" type="image/svg+xml"></object>
    </div>
  </div>
  <div class="dotWrapper dotWrapper-12">
    <div class="dot dot-12">
      <object data="{{root}}assets/img/prim/Triangle4.svg" type="image/svg+xml"></object>
    </div>
  </div>
  <div class="dotWrapper dotWrapper-13">
    <div class="dot dot-13">
      <object data="{{root}}assets/img/prim/Oval1.svg" type="image/svg+xml"></object>
    </div>
  </div>
  <div class="dotWrapper dotWrapper-14">
    <div class="dot dot-14">
      <object data="{{root}}assets/img/prim/Rectangle1.svg" type="image/svg+xml"></object>
    </div>
  </div>