<!--====== EXAMPLES PART START ======-->

<div class="container position-relative">
  <div class="content">
    <div class="text wow zoomIn">
      <h2 class="title">Примеры</h2>
      <span
        >Для наглядного отличия обычных баннеров и с использованием нашей
        технологии, посмотрите примеры</span>
    </div>
    <section class="examples-area">
      {{>example_item-left}} 
      {{>example_item-right}} 
      {{>example_item-left}} 
      {{>example_item-right}} 
    </section>
  </div>
</div>

<!--====== EXAMPLES PART START ======-->
