<article class="example_item-left wow fadeInUp">
  <div class="info">
    <span>Имя категории</span>
    <h3>Отличие привычных баннеров и баннеров «Sense»</h3>
  </div>
  <figure class="before">
    <span>Было</span>
    <div class="item-content">
        Тут вставляем контент
    </div>
  </figure>
  <figure class="after">
    <span>Стало</span>
    <div class="item-content">
    <img src="{{root}}assets/img/cherry.jpg" alt="Отличие привычных баннеров и баннеров «Sense» - Стало" />   
    </div>

  </figure>
</article>
