<footer>

  <div class="container position-relative">
    <div class="content">
      <section class="footer-area">
        <article class="footer_item">
          <div class="logo">
            <a class="navbar-brand" href="/"><img src="{{root}}assets/img/logo.svg" alt="Sense Logo"></a>
            <p>Новое решение в баннерной рекламе!</p>
          </div>
          <div class="links">
                <h2 class="ft-title">Контакты</h2>
                <ul class="adress">
                  <li>Москва, ул.Архитекторская, 65/12</li>
                  <li>+7 926 345-65-77</li>
                  <li>+7 926 123-34-56</li>
                  <li>info@sense.com</li>
                  <li>sense.com</li>
                </ul>
          </div>
          <div class="social">
                <h4 class="ft-title">Социальные сети</h2>
                <ul class="social-links">
                  <li><a href="#"><img src="{{root}}assets/img/social/linkedn.svg" alt="Linkedin"></a></li>
                  <li><a href="#"><img src="{{root}}assets/img/social/facebook.svg" alt="Facebook"></a></li>
                  <li><a href="#"><img src="{{root}}assets/img/social/vk.svg" alt="VKontakte"></a></li>
                  <li><a href="#"><img src="{{root}}assets/img/social/instagram.svg" alt="instagram"></a></li>
                </ul>
                <h4 class="ft-title">Мессенджеры</h2>
                  <ul class="messenger-links">
                    <li><a href="#"><img src="{{root}}assets/img/social/whatsup.svg" alt="WhatsUP"></a></li>
                    <li><a href="#"><img src="{{root}}assets/img/social/viber.svg" alt="Viber"></a></li>
                    <li><a href="#"><img src="{{root}}assets/img/social/telegram.svg" alt="Telegram"></a></li>
                  </ul>
          </div>
        </article>
      </section>
    </div>
    <section class="ft-arr container">
      <div class="ft-arr-list">
        <span id="copyright">Sense. All Rights Reserved</span>
      </div>
    </section>
  </div>
  </footer>