<!--====== HERO START ======-->

<div class="hero-area">
    <div class="container position-relative">
        {{>browns}}
        <div class="row">
            <div class="col-sm-12 col-lg-5 col-md-6 col-xxl-5">
                <div class="hero-content pt-100">
                    <h1 class="title wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">Добавьте 3D в ваши рекламные баннеры</h1>
                    <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">С помощью нашего революционного решения можно легко создать 3D-объекты из простых изображений, добавить им тактильности и встроить их в баннерный блок</p>
                    <p>
                        <a class="main-btn btn-2 wow fadeInLeft" href="#demo_page">Попробовать сейчас</a>
                    </p>
                </div> <!-- hero content -->
            </div>
        </div> <!-- row -->
        <div class="hero-mac d-none d-lg-block wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s"">
                <img src=" {{root}}assets/img/laptop@2x.png" alt="Sense Web preview">
        </div>
        <div class="hero-phone wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.7s"">
            <img src=" {{root}}assets/img/iphone@2x.png" alt="Sense Phone preview">
        </div>
    </div> <!-- container -->
</div>

<!--====== HERO END ======-->